@media print {
  body {
      font-size: 12pt;
      line-height: 1.5;
      margin: 15mm;
      background-color: #f5f5f5;
      color: #333;
      padding: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  h1, h2, h3 {
      color: #4285f4;
      text-align: center;
      border-bottom: 2px solid #4285f4;
      padding-bottom: 5px;
      margin-bottom: 10px;
  }

  .biba {
    display: none;
  }

  .boba {
  display: none;
  }

  a {
      color: #1a0dab;
      text-decoration: none;
      border-bottom: 1px dashed #1a0dab;
      transition: color 0.3s ease-in-out;
  }
}